header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.topnav {
    background-color: slategray;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 0px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    background-color: none;
    color: #7FFF00;
}

.topnav a:active {
    background-color: red;
    color: slategray;
}

.topnav .social-icon {
    color: red;
    transition: color 0.2s;
    text-align: center;
    text-decoration: none;
    margin: 0 30px;
    font-size: 35px;
}

body {
    margin: 0;
    padding: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

* {
    box-sizing: border-box;
}

/* main */
.hero {
    height: 2000px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./img/DSC00175.JPG");
    background-size: cover;
    background-position: center;
}

main {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

.personal {
    margin-bottom: 20px;
    padding: 50px;
    height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d7be9b;
    color: #ffffff;
}

.personal img {
    max-height: 150px;
}