header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.topnav {
    background-color: slategray;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 0px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    background-color: none;
    color: #7FFF00;
}

.topnav a:active {
    background-color: red;
    color: slategray;
}



body {
    height: 100%;
    margin: 0;
    padding: 20px;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

* {
    box-sizing: border-box;
}

/* main */
.hero-img {
    height: 1500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./img/8b24d3ba-d317-4b47-8210-f6e0fa462731.jpg");
    background-position: no-repeat;
    background-size: cover;
    background-position: top;
}

.hero-text {
    text-align: center;
    position: center;
    color: white;
    size: 100px;
}

main {
    width: 100%;
    display: inline-block;
}

.projects {
    margin-bottom: 20px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    background-color: slategray;
    color: #ffffff;
    text-align: center;
}

.projects img {
    max-width: 100%; 
    height: auto;  
    margin: 0 10px; 
    box-sizing: border-box; 
}

.personal {
    margin-bottom: 20px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    background-color: slategray;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    text
}

.personal img {
    display: inline-block;
    max-height: 210px;
    padding: 0px;
}

/* footer */
footer {
    display: block;
}

.social-icon {
    color: red;
    transition: color 0.2s;
    text-align: left;
    text-decoration: none;
    margin: 0 20px;
    font-size: 50px;
}